<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cryptofolio</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">cryptofolio</property>
        <property name="hibernate.connection.password">ffDdU0oMjH1C9EIg</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Allow lazy loading operations outside a transaction -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="data.model.Coin"/>
        <mapping class="data.model.CoinPrice"/>
    </session-factory>
</hibernate-configuration>